
/* Your Website Styles */
header{
	background: url("../img/circuit2.png");	
	height: 250px;
	color: white;
}
body{
	background: #eee;	
}
h1{
	font-family: 'Nova Square', cursive;
	text-align: center;
	font-size: 4em;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-top: 35px;
}
h2{
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	border-bottom: solid;
}
h3{
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	text-decoration: underline;
}

p{
	font-family: 'Ubuntu', sans-serif;
}
div {
	margin-top: -60px;	x 
}

#mail{
	text-align: left;
	width: 211px;
	padding-left: 34px;
}
#phone{
	text-align: right;
	width: 413px;
	padding-right: 20px;
}
#phone,#mail{
	font-size: 1.19em;
}
#main{
	background: #eee;
}
#ewu, #sms, #personal, #alb {
	padding-left: 10px;
}
#pattern, #knowledge,#wwcc{
	padding-right: 15px;
}
/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}
@media(max-width: 62.5em){
	body{font-size: 1em;}
	h1{
		font-size: 2em;
	}
}
