
/* Your Website Styles */
body {
	background: #eee;
}
h1{
	font-family: 'Nova Square', cursive;
	text-align: center;
	letter-spacing: .15em;	
}
 h1+p:first-of-type{
 	text-align: right;
 }
h2{
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	border-bottom: solid;
}
h3{
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	text-decoration: underline;
}
p{
	font-family: 'Ubuntu', sans-serif;
}
div {
	margin-top: -60px;	x 
}
#Quicksand{
	font-family: 'Quicksand', sans-serif;
}
#Ubuntu{
	font-family: 'Ubuntu', sans-serif;
}
#NovaSquare {
	font-family: 'Nova Square', cursive;
}
#PatuaOne {
	font-family: 'Patua One', cursive;
}
#YesevaOne {
	font-family: 'Yeseva One', cursive;
}
/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}